= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.text_area :content
    = f.date_select :published_on
    = f.collection_select :author_id, Author.all, :id, :name

  .form-actions
    = f.button :submit
